sudo: false

language: android

env:
  - ADB_INSTALL_TIMEOUT=8

android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository
    - extra-google-m2repository
    - sys-img-armeabi-v7a-android-21

before_install:
  - ruby ruby.rb $encription_password
  - openssl aes-256-cbc -d -a -k "$encription_password" -in mobile/gradle.properties.enc -out mobile/gradle.properties
  - openssl aes-256-cbc -d -a -k "$encription_password" -in mobile/hackzurich2015.p12.enc -out mobile/hackzurich2015.p12
  - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &

install:
  - travis_retry travis_wait ./gradlew assembleDebug

before_script:
  - android-wait-for-emulator
  - adb shell input keyevent 82

script:
  - travis_wait ./gradlew connectedDebugAndroidTest

after_script:
  - adb logcat -d
  - test "$TRAVIS_BRANCH" == "master" && ./gradlew :mobile:publishApkRelease

notifications:
  slack: hackzurich2015:PQ7SbDFhSRDMK4pjptQqknQI
